.active {
  color: #c5c6c7;
  background: #45a29e
}
.pointer {
  cursor: pointer;
}
.hoverable:hover {
  transform: scale(1.01);
  box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.react-photo-gallery--gallery img {
  object-fit: cover;
  height: 500px !important;
}
.square {
  border-radius: 0px;
}
.body{
  color:#c5c6c7;
}
